fastapi
uvicorn
python-dotenv
httpx
pydantic
python-jose[cryptography]
passlib[bcrypt]
cryptography
phonenumbers
slowapi
email-validator
python-multipart
secure
googlemaps
overpy
geopy
Jinja2
aiofiles
python-json-logger
requests
pytest
pytest-asyncio
coverage
starlette
typing-extensions
Werkzeug
click 